# code editors
.vscode
.DS_Store
.idea

# lib directory
/lib

# don't ignore the double underscore files (e.g __init__.py)
!__*

# ignore double underscore folders (e.g __pycache__)
__*/


# ignore python complie files
*.pyc